## Pandas

### What is Pandas?
* Python library for data analysis
* High-performance containers for data analysis
* Data structures with a lot of functionality

In [1]:
import pandas as pd

### DataFrame

A DataFrame is a table. It contains an array of individual *entries*, each of which has a certain *value*. Each entry corresponds to a row (or *record*) and a *column*.

For example, consider the following simple DataFrame:

In [2]:
# Pandas DataFrame
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
'city': ['Austin', 'Dallas', None, 'Dallas'],
'visitors': [139, 237, 326, 456],
'signups': [7, 12, 3, 5]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon    None       326        3
3     Mon  Dallas       456        5

In [5]:
# basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weekday   4 non-null      object
 1   city      3 non-null      object
 2   visitors  4 non-null      int64
 3   signups   4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [6]:
df.isna().sum()

weekday     0
city        1
visitors    0
signups     0
dtype: int64

In [7]:
df.shape

(4, 4)

### Reading a CSV file into DataFrame

In [35]:
# Read CSV
df2 = pd.read_csv('biostats_cleaned.csv', index_col='Name')

In [36]:
# top 5 rows
df2.head()

     Sex  Age  Height  Weight
Name
Alex   M   41      74     170
Bert   M   42      68     166
Carl   M   32      70     155
Dave   M   39      72     167
Elly   F   30      66     124

In [19]:
# Basic statistical Info
df2.describe()

             Age     Height      Weight
count  18.000000  18.000000   18.000000
mean   34.666667  69.055556  146.722222
std     7.577055   3.522570   22.540958
min    23.000000  62.000000   98.000000
25%    30.000000  66.250000  132.000000
50%    32.500000  69.500000  150.000000
75%    38.750000  71.750000  165.250000
max    53.000000  75.000000  176.000000

In [20]:
df2.columns

Index(['Name', 'Sex', 'Age', 'Height', 'Weight'], dtype='object')

In [28]:
# Set name column as index
df2 = df2.set_index('Name')

In [29]:
df2.head()

      Age  Height  Weight
Name
Alex   41      74     170
Bert   42      68     166
Carl   32      70     155
Dave   39      72     167
Elly   30      66     124

In [30]:
# Select a row
df2.loc['Carl']

Age        32
Height     70
Weight    155
Name: Carl, dtype: int64

In [31]:
df2.iloc[2]

Age        32
Height     70
Weight    155
Name: Carl, dtype: int64

In [32]:
# Select a column
# df2['Age']
df2.loc['Carl', ['Age', 'Height']]

Age       32
Height    70
Name: Carl, dtype: int64

### Index based selection

In [33]:
df2.iloc[2:4, :]

      Age  Height  Weight
Name
Carl   32      70     155
Dave   39      72     167

###  Label-based selection

In [34]:
df2

      Age  Height  Weight
Name
Alex   41      74     170
Bert   42      68     166
Carl   32      70     155
Dave   39      72     167
Elly   30      66     124
Fran   33      66     115
Gwen   26      64     121
Hank   30      71     158
Ivan   53      72     175
Jake   32      69     143
Kate   47      69     139
Luke   34      72     163
Myra   23      62      98
Neil   36      75     160
Omar   38      70     145
Page   31      67     135
Quin   29      71     176
Ruth   28      65     131

In [26]:
df2.loc['M':'F', ['Height', 'Age']]

KeyError: "Cannot get left slice bound for non-unique label: 'M'"

### Conditional selection

In [33]:
# Selecting people over age 35
df2[df2['Age'] > 35]

     Sex  Age  Height  Weight
Name
Alex   M   41      74     170
Bert   M   42      68     166
Dave   M   39      72     167
Ivan   M   53      72     175
Kate   F   47      69     139
Neil   M   36      75     160
Omar   M   38      70     145

In [48]:
# Select only females
df2[df2['Sex'] == 'M']

68

In [41]:
df2.groupby('Sex').Height.min()

Sex
F    62
M    68
Name: Height, dtype: int64

In [ ]:
df2