## Python

Online Python Shell: https://www.python.org/shell/


Run Python code online: https://py3.codeskulptor.org/

Try Jupyter Notebook : https://mybinder.org/v2/gh/ipython/ipython-in-depth/master?filepath=binder/Index.ipynb

### Hello World

In [1]:
print('Hello World!')

Hello World!

In [3]:
print("Hello World!")
print("Hello")

Hello World!
Hello

### Basic objects -Strings, Integers & Floats,Booleans
#### Strings

Strings are just array/list of the characters

In [5]:
string1 = 'This is string1'

In [6]:
type(string1)

str

In [7]:
print(string1)

This is string1

In [8]:
string2 = "This is string2"

In [9]:
print(string2)

This is string2

In [11]:
# Add two strings
string1 +' ' + string2

'This is string1 This is string2'

In [12]:
# Comment - Comparing two strings
string1 == string2

False

In [35]:
#Indexing
name = 'Techbairn'
# Get first character
name[0]

'T'

In [36]:
# Get Last character
name[-1]

'n'

In [43]:
# Slicing
name[0:4]  # same - name[:4]

'Tech'

In [44]:
name[4:9] # same - name[4:]

'bairn'

In [45]:
# can't be ommited in every case
name[3:8]

'hbair'

In [46]:
# Length of String
len(name)

9

In [62]:
name[::2] # same - name[0:len(name):2]

'Tcbin'

In [57]:
# Reverse
name[::-1]

'nriabhceT'

In [58]:
name.upper()

'TECHBAIRN'

In [59]:
name.lower()

'techbairn'

#### Integers and Floats

In [63]:
# Addition
1 + 5

6

In [64]:
a = 4
b = 6
c = 7.6

In [65]:
type(a), type(b), type(c)

(int, int, float)

In [66]:
a + b

10

In [67]:
a - b

-2

In [68]:
a / b

0.6666666666666666

In [69]:
b / a

1.5

In [70]:
# Integral Division
b // a

1

In [71]:
# Modulas
b % a

2

In [72]:
# Multiply
a * b

24

In [73]:
# Exponents
a ** 4

256

In [74]:
(a + b) * c

76.0

In [75]:
# Range of Integer in C, 4 Byte = 32 bit
-((2 ** 32) // 2), ((2 ** 32) // 2) -1

(-2147483648, 2147483647)

In [76]:
d = a + c
d

11.6

In [77]:
type(d)

float

In [78]:
a, b

(4, 6)

In [79]:
# Swap
a, b = b, a

In [80]:
a, b

(6, 4)

#### Booleans

In [81]:
x = True
y = False

In [87]:
y

False

In [83]:
x and y

False

In [84]:
x or y

True

In [85]:
5 <= 4

False

In [86]:
'abc' == 'abc'

True

### Complex Objects -Lists, Tuples and Sets
#### Lists

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner.

In [88]:
number_list = [1,2,3,4]

In [89]:
number_list

[1, 2, 3, 4]

In [90]:
len(number_list)

4

In [91]:
# Indexing
number_list[0]

1

In [92]:
# Slicing
number_list[1:3]

[2, 3]

In [93]:
sum(number_list)

10

In [94]:
number_list.append(5)

In [95]:
number_list

[1, 2, 3, 4, 5]

In [96]:
sum(number_list)

15

In [97]:
number_list.reverse()

In [98]:
number_list

[5, 4, 3, 2, 1]

In [99]:
del number_list[2]

In [100]:
number_list

[5, 4, 2, 1]

In [101]:
name_list = ['Shashank', 'TechBairn', 'Ram', 78, [1,3,4]]

In [102]:
name_list[2]

'Ram'

In [103]:
name_list[4]

[1, 3, 4]

In [106]:
# String formatting
print(name_list[0] + ' is instructor of this class')

Shashank is instructor of this class

In [111]:
print('{} is instructor of this course'.format(name_list[0]))

Shashank is instructor of this course

In [114]:
print(f'{name_list[0]} is instructor of this course, {name_list[1]} is Organiser.')

Shashank is instructor of this course, TechBairn is Organiser.

In [118]:
f'{4**3} is cube of 4, {5**3} is cube of 5'

'64 is cube of 4, 125 is cube of 5'

In [117]:
str(4**3) + ' is cube of 4'

'64 is cube of 4'